@media (max-width: 800px){
    header > p {
        font-size: 1.2em;
    }


    main > .extras {
    font-size: 12px;
    }
}

@media (max-width: 500px){
    body {
        font-size: 12px;
    }

    header { 
        height: 180px;
    }

    header > h1 {
        font-size: 2em;
    }

    header > p {
        padding: 0 5px;
    }

    main > h2 {
        font-size: 1em;
    }

    main > p {
        font-size: 1em;
    }

    main > h3 {
        font-size: 1em;
    }

    main > .video {
        height: 250px;
    }

    main > .video >iframe {
        height: 200px;
    }

    main > .extras {
        font-size: 8px;
    }
}