@media (max-width: 500px){
    body {
        font-size: 12px;
    }

    header { 
        height: 180px;
    }

    header > h1 {
        font-size: 2em;
    }

    header > p {
        padding: 0 5px;
    }

    main > h2 {
        font-size: 1em;
    }

    main > p {
        font-size: 1em;
    }

    main > h3 {
        font-size: 1em;
    }

    main > .video {
        height: 250px;
    }

    main > .extras {
        font-size: 8px;
    }

    footer {
        font-size: 0.8em;
    }
}

@media (max-width: 700px){
    body {
        font-size: 14px;
    }

    header { 
        height: 180px;
    }

    header > h1 {
        font-size: 2em;
    }

    header > p {
        padding: 0 5px;
    }
}