@charset "UTF-8";

body {
    background-color: rgba(233, 194, 19, 0.231);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

h1 {
    color: rgb(177, 131, 13);
    font-size: 3em;
    text-align: center;
}


h2 {
    color: rgb(88, 63, 1);
    font-size: 1.6em;
}

h3 {
    color: rgb(0, 0, 0);
}

p {
    color: red;
    text-align: justify;
}

p.proximo {
    text-align: right;
}

p.pagina {
    text-align: center;
    color: green;
}

.voltar-proximo {
    display: flex;
    justify-content: space-between;
}